# Virtual environment
eon/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env

# Static files
staticfiles/

# Media files
media/

# macOS
.DS_Store

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/