{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> {% block title %} Eon {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}?v=2">
</head>
<body>
    <header>
        <h1>Eon</h1>

        <nav>
            <a href="{% url 'books:book_list' %}">Books</a>
            <a href="{% url 'books:book_create' %}">Add Book</a>
            <a href="{% url 'books:google_book_search' %}">Search Google Books</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>