{% extends "books/base.html" %}

{% block content %}

<h1>Google Book Search</h1>

<form method="get">
    <input type="text" name-"q" value="{{ query}}"="Search books">
    <button type="submit">Search</button>
</form>

{% for book in results %}
    <div class="book-card">
        <h2>{{ book.title }}</h2>
        <p> {{ book.authors|join:", " }}</p>
        <p> {{ book.page_count }} pages</p>
        <p> {{ book.published_date }}</p>

        {% if book.thumbnail %}
            <img src="{{ book.thumbnail }}" alt="{{ book.title }} cover">
        {% endif %}

        <p>
            <a class="button" href="{% url 'books:import_google_book' book.google_book_id %}" >
                Add to my library
            </a>
        </p>
    </div>

{% empty %}
    {% if query %} 
        <p>No results found.</p>
    {% endif %}
{% endfor %}

{% endblock%}

